:root {
    --sds-color-border-brand-tertiary: #abf08d;
    --sds-color-background-brand-default: '#9FE870'
    --sds-color-text-default-default: '#000000'
    --sds-color-table-hover-tertiary: '#F3FDEF'
    --sds-color-bg-table-header: #f5f5f5;
  }
  